/* your css code */
.page-food{
  max-height: 100%;
  overflow-y: scroll;
}

.catalogControls{
  display: flex;
  align-items: center;
  padding: 0px 10px;
  &>.search{
    flex-grow: 1;
  }
  &__btn{
    background-color: #bfb8b8;
    color: white;
    font-size: 16px;
    padding: 5px 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .3s;
    white-space: nowrap;
  }
  &__priceOrder{
    transform: scaleY(1);
    background-color: orange;
    transition: background-color .3s, transform .3s;
    &--active{
      &>i{
        transform: scaleY(-1);
      }
    }
  }
  &__favorites{
    &--active{
      background-color: orange;
      &>i{
        transition: color .3s;
        color: red;
      }
    }
  }
}
