.main-menu {
    color: white;
}

.main-menu__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    position: relative;
}

.main-menu__item {
    width: 50px;
    height: 50px;
    background: 50%;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    background-color: none;
    position: relative;
    top: 0;
    -webkit-transition: background-color 0.3s, top 0.3s;
    -o-transition: background-color 0.3s, top 0.3s;
    transition: background-color 0.3s, top 0.3s;
}

.main-menu__item--active {
  background-color: #977e50;
  top: -6px;
}

.main-menu__icon {
  font-size: 27px;
}