/* your css code */
/*МЕНЮ БЛЮД */

.food-menu {
    background-color: red;
    color: white;
    padding: 15px 0px;
    // -webkit-box-shadow: 0px 4px 9px -2px grey;
    // box-shadow: 0px 4px 9px -2px grey;
}
  
.food-menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll hidden;
}

  /* Hide scrollbar for Chrome, Safari and Opera */
.food-menu__row::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.food-menu__row {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
  
  .food-menu__item {
    padding: 0px 10px 0px 10px;
    text-align: center;
    position: relative;
    font-size: 16px;
  }
  

  .food-menu__item-name{
    white-space: nowrap;
    text-transform: uppercase;
  }

  .food-menu__link{
    display: flex;
  }

  .food-menu__link > i {
    margin-right: 5px;
    display: block;
  }
  .food-menu__link.active{
    color: orange;
  }
  
  /*КОНЕЦ МЕНЮ БЛЮД */