/* your css code */

  
  /*СПИСОК БЛЮД */
  
  .food-list {
    padding: 10px 0 10px 0;
  }
  
  .food-list__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .food-list__item {
    width: 45%;
  }
  
  .food-list__item-pic {
    border-radius: 50%;
    overflow: hidden;
    height: 120px;
    width: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
    margin: 0 auto;
    border: 3px solid white;
  }
  
  .food-list__item-content {
    z-index: 1;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    top: -20px;
    padding-top: 25px;
  }
  
  .food-list__item-name {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .food-list__item-price {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .food-list__item-open {
    display: block;
    margin: 0 auto;
    max-width: 100px;
    padding: 6px;
    background-color: green;
    text-align: center;
    color: white;
    border-radius: 10px;
  }
  
  /*КОНЕЦМЕНЮ БЛЮД */