
@@include('blocks/_header.html')
    <!-- КОМПОНЕНТ СТРАНИЦЫ С ЕДОЙ -->
    <div class="page-food">
        <!-- Меню типов еды -->
        <div class="food-menu">
            <div class="food-menu__row">
                <div class="food-menu__item">
                    <a href="#" class="food-menu__link">
                        <i class="fal fa-pizza-slice"></i>
                        <div class="food-menu__item-name">Пицца</div>
                    </a>
                </div>
                <div class="food-menu__item">
                    <a href="#" class="food-menu__link">
                        <i class="fal fa-sandwich"></i>
                        <div class="food-menu__item-name">Сендвичи</div>
                    </a>
                </div>
                <div class="food-menu__item">
                    <a href="#" class="food-menu__link">
                        <i class="fal fa-cheeseburger"></i>
                        <div class="food-menu__item-name">Бургеры</div>
                    </a>
                </div>
                <div class="food-menu__item">
                    <a href="#" class="food-menu__link">
                        <i class="fal fa-burrito"></i>
                        <div class="food-menu__item-name">Гирос</div>
                    </a>
                </div>
                <div class="food-menu__item">
                    <a href="#" class="food-menu__link">
                        <i class="fal fa-croissant"></i>
                        <div class="food-menu__item-name">Выпечка</div>
                    </a>
                </div>
                <div class="food-menu__item">
                    <a href="#" class="food-menu__link">
                        <i class="fal fa-hotdog"></i>
                        <div class="food-menu__item-name">Хот-доги</div>
                    </a>
                </div>
                <div class="food-menu__item">
                    <a href="#" class="food-menu__link">
                        <i class="fal fa-ice-cream"></i>
                        <div class="food-menu__item-name">Десерты</div>
                    </a>
                </div>
                <div class="food-menu__item">
                    <a href="#" class="food-menu__link">
                        <i class="fal fa-cocktail"></i>
                        <div class="food-menu__item-name">Напитки</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="food-list">
            <div class="food-list__row">
                <div class="food-list__item">
                    <div class="food-list__item-pic " style="background-image: url(../images/giros.jpg);">
                        <!-- <img src="/images/giros.jpg" alt="" class="food-list__item-img"> -->
                    </div>
                    <div class="food-list__item-content">
                        <div class="food-list__item-name">Гирос с курицей</div>
                        <div class="food-list__item-price">190р</div>
                        <button class="food-list__item-open">Добавить</button>
                    </div>
                </div>
                <div class="food-list__item">
                    <div class="food-list__item-pic " style="background-image: url(../images/giros.jpg);">
                        <!-- <img src="/images/giros.jpg" alt="" class="food-list__item-img"> -->
                    </div>
                    <div class="food-list__item-content">
                        <div class="food-list__item-name">Гирос с курицей</div>
                        <div class="food-list__item-price">190р</div>
                        <button class="food-list__item-open">Добавить</button>
                    </div>
                </div>
                <div class="food-list__item">
                    <div class="food-list__item-pic " style="background-image: url(../images/giros.jpg);">
                        <!-- <img src="/images/giros.jpg" alt="" class="food-list__item-img"> -->
                    </div>
                    <div class="food-list__item-content">
                        <div class="food-list__item-name">Гирос с курицей</div>
                        <div class="food-list__item-price">190р</div>
                        <button class="food-list__item-open">Добавить</button>
                    </div>
                </div>
                <div class="food-list__item">
                    <div class="food-list__item-pic " style="background-image: url(../images/giros.jpg);">
                        <!-- <img src="/images/giros.jpg" alt="" class="food-list__item-img"> -->
                    </div>
                    <div class="food-list__item-content">
                        <div class="food-list__item-name">Гирос с курицей</div>
                        <div class="food-list__item-price">190р</div>
                        <button class="food-list__item-open">Добавить</button>
                    </div>
                </div>
                <div class="food-list__item">
                    <div class="food-list__item-pic " style="background-image: url(../images/giros.jpg);">
                        <!-- <img src="/images/giros.jpg" alt="" class="food-list__item-img"> -->
                    </div>
                    <div class="food-list__item-content">
                        <div class="food-list__item-name">Гирос с курицей</div>
                        <div class="food-list__item-price">190р</div>
                        <button class="food-list__item-open">Добавить</button>
                    </div>
                </div>
                <div class="food-list__item">
                    <div class="food-list__item-pic " style="background-image: url(../images/giros.jpg);">
                        <!-- <img src="/images/giros.jpg" alt="" class="food-list__item-img"> -->
                    </div>
                    <div class="food-list__item-content">
                        <div class="food-list__item-name">Гирос с курицей</div>
                        <div class="food-list__item-price">190р</div>
                        <button class="food-list__item-open">Добавить</button>
                    </div>
                </div>
                <div class="food-list__item">
                    <div class="food-list__item-pic " style="background-image: url(../images/giros.jpg);">
                        <!-- <img src="/images/giros.jpg" alt="" class="food-list__item-img"> -->
                    </div>
                    <div class="food-list__item-content">
                        <div class="food-list__item-name">Гирос с курицей</div>
                        <div class="food-list__item-price">190р</div>
                        <button class="food-list__item-open">Добавить</button>
                    </div>
                </div>
                <div class="food-list__item">
                    <div class="food-list__item-pic " style="background-image: url(../images/giros.jpg);">
                        <!-- <img src="/images/giros.jpg" alt="" class="food-list__item-img"> -->
                    </div>
                    <div class="food-list__item-content">
                        <div class="food-list__item-name">Гирос с курицей</div>
                        <div class="food-list__item-price">190р</div>
                        <button class="food-list__item-open">Добавить</button>
                    </div>
                </div>
                <div class="food-list__item">
                    <div class="food-list__item-pic " style="background-image: url(../images/giros.jpg);">
                        <!-- <img src="/images/giros.jpg" alt="" class="food-list__item-img"> -->
                    </div>
                    <div class="food-list__item-content">
                        <div class="food-list__item-name">Гирос с курицей</div>
                        <div class="food-list__item-price">190р</div>
                        <button class="food-list__item-open">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Меню типов еды конец -->
    </div>
    <!-- КОНЕЦ КОМПОНЕНТ СТРАНИЦЫ С ЕДОЙ -->
@@include('blocks/_footer.html')