<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <div class="app-wrapper">
            <div class="content-frame">
                <!-- КОМПОНЕНТ СТРАНИЦЫ С ЕДОЙ -->
                <div class="page-food">
                    <!-- Меню типов еды -->
                    <div class="food-menu">
                        <div class="food-menu__row">
                            <div class="food-menu__item">
                                <a href="#" class="food-menu__link">
                                    <i class="fal fa-pizza-slice"></i>
                                    <div class="food-menu__item-name">Пицца</div>
                                </a>
                            </div>
                            <div class="food-menu__item">
                                <a href="#" class="food-menu__link">
                                    <i class="fal fa-sandwich"></i>
                                    <div class="food-menu__item-name">Сендвичи</div>
                                </a>
                            </div>
                            <div class="food-menu__item">
                                <a href="#" class="food-menu__link">
                                    <i class="fal fa-cheeseburger"></i>
                                    <div class="food-menu__item-name">Бургеры</div>
                                </a>
                            </div>
                            <div class="food-menu__item">
                                <a href="#" class="food-menu__link">
                                    <i class="fal fa-burrito"></i>
                                    <div class="food-menu__item-name">Гирос</div>
                                </a>
                            </div>
                            <div class="food-menu__item">
                                <a href="#" class="food-menu__link">
                                    <i class="fal fa-croissant"></i>
                                    <div class="food-menu__item-name">Выпечка</div>
                                </a>
                            </div>
                            <div class="food-menu__item">
                                <a href="#" class="food-menu__link">
                                    <i class="fal fa-hotdog"></i>
                                    <div class="food-menu__item-name">Хот-доги</div>
                                </a>
                            </div>
                            <div class="food-menu__item">
                                <a href="#" class="food-menu__link">
                                    <i class="fal fa-ice-cream"></i>
                                    <div class="food-menu__item-name">Десерты</div>
                                </a>
                            </div>
                            <div class="food-menu__item">
                                <a href="#" class="food-menu__link">
                                    <i class="fal fa-cocktail"></i>
                                    <div class="food-menu__item-name">Напитки</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="food-list">
                        <div class="food-list__row">
                            <div class="food-list__item">
                                <div class="food-list__item-pic " style="background-image: url(../images/giros.jpg);">
                                    <!-- <img src="/images/giros.jpg" alt="" class="food-list__item-img"> -->
                                </div>
                                <div class="food-list__item-content">
                                    <div class="food-list__item-name">Гирос с курицей</div>
                                    <div class="food-list__item-price">190р</div>
                                    <a href="" class="food-list__item-open">Добавить</a>
                                </div>
                            </div>
                            <div class="food-list__item">
                                <div class="food-list__item-pic " style="background-image: url(../images/giros.jpg);">
                                    <!-- <img src="/images/giros.jpg" alt="" class="food-list__item-img"> -->
                                </div>
                                <div class="food-list__item-content">
                                    <div class="food-list__item-name">Гирос с курицей</div>
                                    <div class="food-list__item-price">190р</div>
                                    <a href="" class="food-list__item-open">Добавить</a>
                                </div>
                            </div>
                            <div class="food-list__item">
                                <div class="food-list__item-pic " style="background-image: url(../images/giros.jpg);">
                                    <!-- <img src="/images/giros.jpg" alt="" class="food-list__item-img"> -->
                                </div>
                                <div class="food-list__item-content">
                                    <div class="food-list__item-name">Гирос с курицей</div>
                                    <div class="food-list__item-price">190р</div>
                                    <a href="" class="food-list__item-open">Добавить</a>
                                </div>
                            </div>
                            <div class="food-list__item">
                                <div class="food-list__item-pic " style="background-image: url(../images/giros.jpg);">
                                    <!-- <img src="/images/giros.jpg" alt="" class="food-list__item-img"> -->
                                </div>
                                <div class="food-list__item-content">
                                    <div class="food-list__item-name">Гирос с курицей</div>
                                    <div class="food-list__item-price">190р</div>
                                    <a href="" class="food-list__item-open">Добавить</a>
                                </div>
                            </div>
                            <div class="food-list__item">
                                <div class="food-list__item-pic " style="background-image: url(../images/giros.jpg);">
                                    <!-- <img src="/images/giros.jpg" alt="" class="food-list__item-img"> -->
                                </div>
                                <div class="food-list__item-content">
                                    <div class="food-list__item-name">Гирос с курицей</div>
                                    <div class="food-list__item-price">190р</div>
                                    <a href="" class="food-list__item-open">Добавить</a>
                                </div>
                            </div>
                            <div class="food-list__item">
                                <div class="food-list__item-pic " style="background-image: url(../images/giros.jpg);">
                                    <!-- <img src="/images/giros.jpg" alt="" class="food-list__item-img"> -->
                                </div>
                                <div class="food-list__item-content">
                                    <div class="food-list__item-name">Гирос с курицей</div>
                                    <div class="food-list__item-price">190р</div>
                                    <a href="" class="food-list__item-open">Добавить</a>
                                </div>
                            </div>
                            <div class="food-list__item">
                                <div class="food-list__item-pic " style="background-image: url(../images/giros.jpg);">
                                    <!-- <img src="/images/giros.jpg" alt="" class="food-list__item-img"> -->
                                </div>
                                <div class="food-list__item-content">
                                    <div class="food-list__item-name">Гирос с курицей</div>
                                    <div class="food-list__item-price">190р</div>
                                    <a href="" class="food-list__item-open">Добавить</a>
                                </div>
                            </div>
                            <div class="food-list__item">
                                <div class="food-list__item-pic " style="background-image: url(../images/giros.jpg);">
                                    <!-- <img src="/images/giros.jpg" alt="" class="food-list__item-img"> -->
                                </div>
                                <div class="food-list__item-content">
                                    <div class="food-list__item-name">Гирос с курицей</div>
                                    <div class="food-list__item-price">190р</div>
                                    <a href="" class="food-list__item-open">Добавить</a>
                                </div>
                            </div>
                            <div class="food-list__item">
                                <div class="food-list__item-pic " style="background-image: url(../images/giros.jpg);">
                                    <!-- <img src="/images/giros.jpg" alt="" class="food-list__item-img"> -->
                                </div>
                                <div class="food-list__item-content">
                                    <div class="food-list__item-name">Гирос с курицей</div>
                                    <div class="food-list__item-price">190р</div>
                                    <a href="" class="food-list__item-open">Добавить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Меню типов еды конец -->
                </div>
                <!-- КОНЕЦ КОМПОНЕНТ СТРАНИЦЫ С ЕДОЙ -->
            </div>
            <nav class="command-frame">
                <div class="main-menu">
                    <div class="main-menu__row">
                        <a class="main-menu__item main-menu__item--active">
                            <div class="main-menu__icon">
                                <i class="fal fa-burger-soda"></i>
                            </div>
                        </a>
                        <a class="main-menu__item">
                            <div class="main-menu__icon">
                                <i class="fal fa-user"></i>
                            </div>
                        </a>
                        <a class="main-menu__item">
                            <div class="main-menu__icon">
                                <i class="fal fa-shopping-basket"></i>
                            </div>
                        </a>
                    </div>
                </div>
                
            </nav>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>