/* your css code */
.search{
  display: flex;
  padding: 5px;
  position: relative;
  justify-content: center;
}
.searchInput{ 
  flex-grow: 1;
  height: 30px;
  padding: 0 20px;
  border: 1px solid #d4cdcd;
  border-radius: 10px;
}
.searchIcon{
  position: absolute;
  right: 20px;
  top: 35%;
}