/* your css code */


.personal {
	&__row {
        padding: 0px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
	&__item {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        display: flex;
        position: relative;
        margin: 15px 10px;
        height: 130px;
        width: 130px;
        &:last-child{
            margin-bottom: 0px;
        }
        &--disabled{
            box-shadow: none;
            border: 1px solid rgba(193, 174, 174, 0.25);
            background-color: #dcdcdc;
            color: white !important;
            cursor: default;
            pointer-events: none;
            & .personal__itemIcon{
                color: white !important;
            }
        }
    }
	&__itemLink {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
	&__itemIcon {
        color: #f76692;
        font-size: 36px;
        margin-bottom: 15px;
    }
	&__itemName { 

    }
    &__userForm{
        display: flex;
        justify-content: space-between;
    }
}
.userInfo {
    padding: 20px;
	&__row { 
        text-align: center;
    }
	&__item {
        margin-bottom: 10px;
        & i{
            color: #f76692;
        }
    }
	&__userName {
        font-weight: normal;
        font-size: 18px;
    }
	&__userEmail { }
	&__userPhone { }
	&__userAddress { }
}