/* your css code */
.basket {
    padding: 10px;
    height: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .basket__place {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffbb3d;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .basket__place-item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    padding: 10px;
  }
  
  .basket__place-item--active {
    background-color: #e7a932;
    -webkit-box-shadow: inset -3px -2px 3px rgba(0, 0, 0, 0.25);
    box-shadow: inset -3px -2px 3px rgba(0, 0, 0, 0.25);
  }
  
  .basket__type {
    margin-bottom: 15px;
  }
  
  .basket__type-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .basket__type-placeholder {
    width: 100%;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: 300;
  }
  
  .basket__item {
    width: 100%;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 10px;
  }
  
  .basket__item:last-child {
    margin-bottom: 0px;
  }
  
  .basket__item-pic {
    max-width: 100px;
  }
  
  .basket__item-info {
    padding: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  
  .basket__item-name {
    font-size: 16px;
    font-weight: 600;
  }
  
  .basket__item-counter {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .basket__item-sum {
    margin-top: auto;
    -ms-flex-item-align: end;
    align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .basket__item-delete {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  
  .basket__removed-item {
    width: 100%;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 5px;
    font-weight: 300;
  }
  
  .basket__controls {
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .basket__order-btn {
    background-color: #F8774A;
    color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 25px;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }