/* your css code */
.addressPicker {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: navajowhite;


    &__close{
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        font-size: 20px;
    }
    &__mapContainer{
        flex: 1 0 80%;
        background-image: url(https://fvmstatic.s3.amazonaws.com/maps/m/ICON-MM-01-0002.png);
        background-size: 10%;
        background-repeat: repeat;
    }
    &__controls {
        padding: 10px;
        height: 100%;
        position: relative;
        text-align: center;
        flex: 1 0 20%;
        &>ymaps{
            top:40px !important;
        }
        &>ymaps>ymaps>ymaps{
            transform: translateY(-100%);
        }
    }
    &__controlsTitle{
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
    }
    &__doneBtn{
        
    }
    &__controlsSuggest {
        width: 100%;
        resize: none;
        height: auto;
        border-radius: 10px;
        border: 1px solid gray;
        padding: 10px;
        display:inline-block;
        vertical-align:middle;
        margin: 5px 0;
    }

    &__controlsBtn {
        padding: 10px;
        color: white;
        background-color: orange;
        display: inline-block;
        border-radius: 10px;
        box-shadow: 0px 1px 5px 0px gray;
        margin: 5px;
        transition: box-shadow 0.3s , transform 0.3s;
        font-size: 12px;
        text-transform: uppercase;
        &:active{
            box-shadow: inset 0px 1px 1px 0px gray;
            transform: scale(0.9);
        }
        &:disabled{
            pointer-events: none;
            background-color: lightgrey;
            box-shadow: none;
        }
    }
}