.notFoundPage {
    height: 100%;
    background-image: url(/assets/images/travolta.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 50%;
    text-align: center;
    &__inner{
        padding: 70px 20px;
    }
	&__error { 
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 20px;
    }
	&__text { 
        text-align: center;
        margin-bottom: 10px;
        font-size: 16px;
    }
	&__link { 
        display: inline-block;
        padding: 5px 10px;
        color: white;
        background-color: green;
        font-size: 18px;
    }
}